<h4>Список пользователей</h4>
<div *ngFor="let user of users">
    <div class="mb-10px">
        <div>
            Фамилия: {{user.surname}}
        </div>
        <div>
            Имя: {{user.name}}
        </div>
        <div>
            Отчество: {{user.middleName}}
        </div>
    </div>
</div>
