<h3>
    {{ title }}
</h3>
<app-user-form [(user)]="currentUser" (userSave)="saveNewUser()"></app-user-form>
<app-user-card [user]="currentUser"></app-user-card>
<app-users-list [users]="users"></app-users-list>
