<div><b>Новый пользователь</b></div>
<div>
    <label for="surname">Фамилия</label>
    <div>
        <input id="surname" type="text" [(ngModel)]="user.surname">
    </div>
</div>
<div>
    <label for="name">Имя</label>
    <div>
        <input id="name" type="text" [(ngModel)]="user.name">
    </div>
</div>
<div>
    <label for="middleName">Отчество</label>
    <div>
        <input id="middleName" type="text" [(ngModel)]="user.middleName">
    </div>
</div>
<div>
    <button (click)="onSaveBtnClick()">
        Сохранить
    </button>
</div>